
<!DOCTYPE html>
<!--

-->
<html>
<head>
    <meta charset="utf-8" />
    <!-- block meta  -->
    <title>注册 - ***服务</title>
    <link rel="stylesheet" href="/test/awesome-static/css/uikit.min.css">
    <link rel="stylesheet" href="/test/awesome-static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/test/awesome-static/css/awesome.css" />
    <script src="/test/awesome-static/js/jquery.min.js"></script>
    <script src="/test/awesome-static/js/sha1.min.js"></script>
    <script src="/test/awesome-static/js/uikit.min.js"></script>
    <script src="/test/awesome-static/js/sticky.min.js"></script>
    <script src="/test/awesome-static/js/vue.min.js"></script>
    <script src="/test/awesome-static/js/awesome.js"></script>
    

<script>

function validateEmail(email) {
    var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
    return re.test(email.toLowerCase());
}

function validatename(name) {
    var re = /^([a-z0-9A-Z\_]+){3,20}$/;
    return re.test(name.toLowerCase());
}

$(function () {
    var vm = new Vue({
        el: '#vm',
        data: {
            name: '',
            email: '',
            password1: '',
            password2: ''
        },
        methods: {
            submit: function (event) {
                event.preventDefault();
                var $form = $('#vm');
                if (! this.name.trim()) {
                    return $form.showFormError('请输入用户名');
                }
                if (! validatename(this.name.trim().toLowerCase())) {
                    return $form.showFormError('用户名应由3~20位的字母、数字、下划线组成！')
                }
                if (! validateEmail(this.email.trim().toLowerCase())) {
                    return $form.showFormError('请输入正确的Email地址');
                }
                if (this.password1.length < 6) {
                    return $form.showFormError('口令长度至少为6个字符');
                }
                if (this.password1 !== this.password2) {
                    return $form.showFormError('两次输入的口令不一致');
                }
                var email = this.email.trim().toLowerCase();
                $form.postJSON('/api/register', {
                    username: this.name.trim(),
                    email: email,
                    pid: 'information_extraction_qa',
//                    password: CryptoJS.SHA1(this.name + ':' + this.password1).toString()  // sha1 != hashlib.sha1(s.encode('utf-8')).hexdigest():
                    password: this.password1
                }, function (err, r) {
                    if (err) {
                        return $form.showFormError(err);
                    }
                    if (r.code!=0) {
//                        return document.write(r.msg)
                            alert(r.msg)
                            return location.assign('/test/register.html')
                    }
//                    document.write("注册成功！")
                    alert("注册成功！")
                    return location.assign('/test/dist20181130/index.html#/login');
                });
            }
        }
    });
    $('#vm').show();
});

</script>


</head>
<body>
    <nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
        <div class="uk-container uk-container-center">
            <a href="/" class="uk-navbar-brand">Webot</a>
            <ul class="uk-navbar-nav">
                <li data-url="blogs"><a href="/"><i class="uk-icon-home"></i> 日志</a></li>
                <li><a target="_blank" href="http://192.168.3.101/gswyhq/information_extraction_qa/wikis/home"><i class="uk-icon-book"></i> 文档</a></li>
                <li><a target="_blank" href="http://192.168.3.101/gswyhq/information_extraction_qa"><i class="uk-icon-code"></i> 源码</a></li>
            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                
                    <li><a href="/test/dist20181130/index.html#/login"><i class="uk-icon-sign-in"></i> 登陆</a></li>
                    <li><a href="/api/register"><i class="uk-icon-edit"></i> 注册</a></li>
                
                </ul>
            </div>
        </div>
    </nav>

    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <!-- content -->
            

    <div class="uk-width-2-3">
        <h1>欢迎注册！</h1>
        <form id="vm" v-on="submit: submit" class="uk-form uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label">用户名:</label>
                <div class="uk-form-controls">
                    <input v-model="name" type="text" maxlength="50" placeholder="user" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">电子邮件:</label>
                <div class="uk-form-controls">
                    <input v-model="email" type="text" maxlength="50" placeholder="your-name@web1.co" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">输入口令:</label>
                <div class="uk-form-controls">
                    <input v-model="password1" type="password" maxlength="50" placeholder="输入口令" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">重复口令:</label>
                <div class="uk-form-controls">
                    <input v-model="password2" type="password" maxlength="50" placeholder="重复口令" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-user"></i> 注册</button>
            </div>
        </form>
    </div>


            <!-- // content -->
        </div>
    </div>

    <div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>
                    <a target="_blank" href="http://weibo.com/web1" class="uk-icon-button uk-icon-weibo"></a>
                    <a target="_blank" href="https://github.com/" class="uk-icon-button uk-icon-github"></a>
                    <a target="_blank" href="http://www.linkedin.com/in/web1" class="uk-icon-button uk-icon-linkedin-square"></a>
                    <a target="_blank" href="https://twitter.com/web1" class="uk-icon-button uk-icon-twitter"></a>
                </p>
                <p>Powered by <a href="http://www.web1.ai">Webot</a>. Copyright &copy; 2018. [<a href="/manage/" target="_blank">Manage</a>]</p>
                <p><a href="http://www.web1.ai/#0" target="_blank">www.web1.ai</a>. All rights reserved.</p>
                <a target="_blank" href="http://www.w3.org/TR/html5/"><i class="uk-icon-html5" style="font-size:64px; color: #444;"></i></a>
            </div>

        </div>
    </div>
</body>
</html>
