# sudo pip3 install -r requirements.txt
jieba>=0.38
numpy==1.13.0
scikit-learn==0.18.1
gensim==2.0.0
pyemd==0.4.3

-e git+http://192.168.3.101/gswyhq/text_pretreatment.git/#egg=text-pretreatment-0.0.2
-e .

git+http://192.168.3.101/gswyhq/dialogue_management.git@0.0.2